.App {
  text-align: center;
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: lato;
  box-sizing: border-box;
  padding:20px 20px 0px 20px;
  max-width: 1024px;
  max-height: 800px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h2{
  font-weight: normal;
  font-size:1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button{
  color: #e27327;
  background-color:white;
  border: solid 2px #e27327;
  font-weight:bold;
  font-size:13px;
  text-transform: uppercase;
  padding: 6px 12px;
  cursor:pointer;
  margin-top:10px;
}

button:hover{
  color: white;
  background-color: #e27327;
  
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%; 
}

.graph{
  display: flex;
  flex-direction: column;
  width:100%;
  overflow-y:auto;
  box-sizing: border-box;
  padding:0px 20px 20px 20px;
  display: flex;
 flex-direction: column;
 flex:1;
}

.graph > div{
  width:100%;
  height:50%;
  box-sizing:border-box;
  padding:20px;
}

.hourly-chart{
  position:relative;
  display:flex;
  flex-direction:column;
}

@media only screen and (min-width: 900px) {
  .graph{  
    flex-direction:row;
  }
  .graph > div{
    height:100%;
    width:50%;
  }
}

.info{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.share-buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.stops-chart-container{
  display:flex;
  flex-direction: column;
  overflow: hidden;
}

#root{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}